/*================
 PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {

    /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

   /* ナビゲーションのレイアウト */
   #nav-pc {
    font-size: 14px;
    padding-top: 15px;
    
  }
   /* ナビゲーションのリンクの装飾設定 */
   #nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
    text-align: left;
    word-spacing: 20px;
  }
  #nav-pc > a:link {
    color: #0d0d0d;
  }
  #nav-pc > a:visited {
    color: rgba(0, 81, 255, 0.637);
  }
  #nav-pc > a:hover {
    color: blue;
    text-decoration: underline;
  }
  #nav-pc > a:active {
    color: aqua;
  }


/* お問い合わせ */
#contact {
    margin: 80px auto 80px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* 外枠 */
  #contact > form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  /* 左列の見出し */
  .contact-heading {
    width: 240px;
    align-self: center;
  }
  /* 見出しのラベル */
  .contact-label {
    font-weight: bold;
  }
  /* 必須 */
  .contact-span {
    color: #ce2222;
    margin: 0 0 0 20px;
    font-weight: bold;
  }
  /* テキストボックス */
  .contact-textbox {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    background-color: #fafafa;
    width: 400px;
    height: 56px;
  }
  /* お問い合わせ内容のテキストエリア */
  .contact-textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    background-color: #fafafa;
    width: 400px;
    height: 200px;
  }
  /* 個人情報の取り扱い */
  details {
    width: 700px;
  }
  details > div {
    background-color: #fafafa;
    padding: 20px;
  } 
  details > div > span {
    font-weight: bold;
  }

  #Contactinformation{
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }

/* フッターの調整*/
footer{
    justify-content: space-between;
    text-align: center;
    margin: 45px 0 0 0;
  }

  #nav-pc > a:link {
    color: #0d0d0d;
  }
  #nav-pc > a:visited {
    color: rgba(0, 81, 255, 0.637);
  }
  #nav-pc > a:hover {
    color: blue;
    text-decoration: underline;
  }
  #nav-pc > a:active {
    color: rgba(44, 241, 241, 0.695);
  }
  #footer-logo {
    background-color: rgba(0, 0, 255, 0.822);
    text-align: center;
  }

}