/*================
 PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {

    /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

   /* ナビゲーションのレイアウト */
   #nav-pc {
    font-size: 14px;
    padding-top: 15px;
    
  }
   /* ナビゲーションのリンクの装飾設定 */
   #nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
    text-align: left;
    word-spacing: 20px;
  }
  #nav-pc > a:link {
    color: #0d0d0d;
  }
  #nav-pc > a:visited {
    color: rgba(0, 81, 255, 0.637);
  }
  #nav-pc > a:hover {
    color: blue;
    text-decoration: underline;
  }
  #nav-pc > a:active {
    color: aqua;
  }

   #Message {
    text-align: center;
   }
   #Message >h1 {
    font-size: 25px;
   }

   #Message >p {
    margin: 20px 0 0 0;
    font-size:15px;
   }
   #sign {
    margin: 30px 0 0 900px;
   }

   #AboutAs {
    text-align: center;
   
   }
   #company-table {
    width: 100%;
    text-align: center;
  }
 
  .tableheader {
    text-align: left;
    padding: 20px;
    border-bottom-color: #2710d5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100px;
  }
 
  .tableheader-first {
    text-align: left;
    padding: 20px;
    border-bottom-color: #2710d5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #2710d5;
    border-top-width: 1px;
    border-top-style: solid;
    width: 100px;
  }
 
  .cell {
    
    padding: 30px;
    border-bottom-color: #f7f5f5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
 
  .cell-first {
    padding: 30px;
    border-bottom-color: #f7f5f5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #f7f5f5;
    border-top-width: 1px;
    border-top-style: solid;
  }

   /* フッターの調整*/
   #nav-footer{
    justify-content: space-between;
    text-align: center;
    margin: 45px 0 0 0;
  }

  #nav-footer > a:link {
    color: #0d0d0d;
  }
  #nav-footer > a:visited {
    color: rgba(0, 81, 255, 0.637);
  }
  #nav-footer > a:hover {
    color: blue;
    text-decoration: underline;
  }
  #nav-footer> a:active {
    color: aqua;
  }
  #footer-logo {
    background-color: rgba(0, 0, 255, 0.822);
    text-align: center;
    padding: 50px 0 0 0;
  }
}